<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.CoreCommerce.repository.OrderRepository">
	
	<resultMap id="OrderMap" type="com.CoreCommerce.domain.Order">
	    <id property="id" column="id"/>
	    <result property="memberId" column="member_id"/>
	    <result property="totalPrice" column="total_price"/>
	    <result property="status" column="status"/>
	    <result property="createdAt" column="created_at"/>
	    <result property="courier" column="courier"/>
		<result property="trackingNumber" column="tracking_number"/>
		<result property="updatedAt" column="updated_at"/>
	</resultMap>
	
	<select id="findByMemberIdPaging" resultMap="OrderMap">
	    SELECT 
	    	 *
	    FROM orders
	    WHERE member_id = #{memberId}
	    ORDER BY created_at DESC
	    LIMIT #{size} OFFSET #{offset}
	</select>
	
	<select id="countByMemberId" resultType="int">
	    SELECT COUNT(*)
	    FROM orders
	    WHERE member_id = #{memberId}
	</select>
	
	<select id="findById"
	        parameterType="long"
	        resultMap="OrderMap">
	
	    SELECT
	         *
	    FROM orders
	    WHERE id = #{id}
	
	</select>
	
	<insert id="insert"
        parameterType="com.CoreCommerce.domain.Order"
        useGeneratedKeys="true"
        keyProperty="id">

	    INSERT INTO orders
	        (member_id, total_price, status, courier, tracking_number ,created_at)
	    VALUES
	        (#{memberId}, #{totalPrice}, #{status},  #{courier}, #{trackingNumber},NOW())
	
	</insert>

	<!-- 주문 상품 저장 -->
	<insert id="insertOrderItem" parameterType="com.CoreCommerce.domain.OrderItem">
	    INSERT INTO order_item (order_id, product_id, price, quantity,cart_item_id)
	    VALUES (#{orderId}, #{productId}, #{price}, #{quantity},#{cartItemId})
	</insert>

	<update id="updateOrderToPaid" parameterType="long">
	    UPDATE orders
	    SET status = 'PAID',       <!-- 상태 변경 -->
	        updated_at = NOW()      <!-- 수정일 업데이트 -->
	    WHERE id = #{orderId}
	      AND status = 'READY'   <!-- 이미 결제된 주문은 변경 안함 -->
	</update>
	
	<select id="findByOrderId"
        resultType="com.CoreCommerce.domain.OrderItem">

	    SELECT oi.*,
	           p.name AS productName,
	           p.price AS productPrice,
	           p.image_url AS productImage
	
	    FROM order_item oi
	    JOIN product p ON oi.product_id = p.id
	    WHERE oi.order_id = #{orderId}
	
	</select>
	
	<select id="findOrderItems"
	        parameterType="long"
	        resultType="com.CoreCommerce.domain.OrderItem">
	
	    SELECT 
	    	 id as id
	    	,order_id as orderId
	    	,product_id as productId
	    	,price as price
	    	,quantity as quantity
	    	,cart_item_id as cartItemId
	    FROM order_item
	    WHERE order_id = #{orderId}
	
	</select>
	
	<select id="getOrderItems" resultType="com.CoreCommerce.domain.OrderItem">
	    SELECT 
	    	 id as id
	    	,order_id as orderId
	    	,product_id as productId
	    	,price as price
	    	,quantity as quantity
	    FROM order_item oi
	    WHERE order_id = #{orderId}
	</select>
	
	<select id="findItems" resultType="com.CoreCommerce.domain.OrderItem">
	    SELECT  
	    	id as id
	    	,order_id as orderId
	    	,product_id as productId
	    	,price as price
	    	,quantity as quantity
	    FROM order_item
	    WHERE order_id = #{orderId}
	</select>
	
	<update id="updateStatus">
	    UPDATE orders
	    SET status = #{status},
	        courier = #{courier},
        	tracking_number = #{trackingNumber},
	        updated_at = NOW()
	    WHERE id = #{orderId}
	</update>
	
	<select id="findAll" resultType="com.CoreCommerce.domain.Order">
	    SELECT 
	    	 ord.id as id
	    	,ord.member_id as memberId
	    	,ord.total_price as totalPrice
	    	,ord.status as status
	    	,ord.created_at as createdAt
	    	,ord.updated_at as updatedAt
	    	,ord.courier as courier
	    	,ord.tracking_number as trackingNumber
	    	,mem.email as email
	    FROM orders ord
	    JOIN member mem
	    ON ord.member_id = mem.id
	    ORDER BY ord.updated_at DESC
	</select>
	
	<select id="countAll" resultType="int">
	    SELECT COUNT(*) FROM orders
	</select>
	
	<select id="findPaging" resultType="com.CoreCommerce.domain.Order">

	   SELECT 
	    	 ord.id as id
	    	,ord.member_id as memberId
	    	,ord.total_price as totalPrice
	    	,ord.status as status
	    	,ord.created_at as createdAt
	    	,ord.updated_at as updatedAt
	    	,ord.courier as courier
	    	,ord.tracking_number as trackingNumber
	    	,mem.email as email
	    FROM orders ord
	    JOIN member mem
	    ON ord.member_id = mem.id
	    ORDER BY ord.created_at DESC
	    LIMIT #{size} OFFSET #{offset}
	
	</select>
	
	
</mapper>