<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: head">
    <title>상품 등록/수정 | CoreCommerce</title>
</head>
<body class="d-flex flex-column min-vh-100">

<!-- 헤더 -->
<div th:replace="layout/header :: header"></div>

<!-- 컨테이너 -->
<div class="container flex-grow-1 mt-5 mb-5">
    <h3 class="mb-4" th:text="${product.id} != null ? '상품 수정' : '상품 등록'"></h3>

    <div class="card p-4 shadow-sm" style="max-width:600px; margin:auto;">
        <form th:action="@{/product/save}" method="post" enctype="multipart/form-data" th:object="${product}">
            
            <input type="hidden" th:field="*{id}">

            <div class="mb-3">
                <label class="form-label">상품명</label>
                <input type="text" th:field="*{name}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">설명</label>
                <input type="text" th:field="*{description}" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">가격</label>
                <input type="number" th:field="*{price}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">재고</label>
                <input type="number" th:field="*{stock}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">이미지 업로드</label>
                <input type="file" name="imageFile" class="form-control">
                <div class="mt-2" th:if="${product.imageUrl}">
                    <label class="form-label">현재 이미지</label>
                    <br>
                    <img th:src="@{${product.imageUrl}}" style="width:150px; border:1px solid #ddd; padding:2px;">
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100 mb-2" th:text="${product.id} != null ? '수정 저장' : '등록'"></button>
            <a th:href="@{/product/list}" class="btn btn-secondary w-100">취소 / 목록으로</a>
        </form>
    </div>
</div>

<!-- 푸터 -->
<div th:replace="layout/footer :: footer"></div>

</body>
</html>
